
html { 
    scroll-behavior: smooth; 
} 
.jumbotron{
    height: calc(100vh);
    color: #404040;

    /* background-image: url("/images/pexels-samuel-walker-1980720.jpg"); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    /* background-color:  #404040; */
}
.aboutWrapper{
   
}

/* profile picture */
.img-thumbnail{
    border: none;
    border-radius: 10%;
    margin-top: 50%;
    margin-bottom: 50%;
}

.workwrapper{
    /* ls */

}
.contactwrapper{
    /* height: calc(100vh); */
 
}
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.footer{
    padding: 15px;;
}










/* // Small devices (landscape phones, 300px and up) */
@media (min-width: 300px) {
    
    .greeting{
       
        font-size: calc(8vh);
    }
    .aboutWrapper{
        margin: 20px;
    }
    .workwrapper{
        margin: 20px;
    }
    .contactwrapper{
        margin: 20px;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .greeting{
        padding: 50px;
        font-size: calc(10vh);
    }
    .aboutWrapper{
        margin: 60px;
    }
    .workwrapper{
        margin: 60px;
    }
    .contactwrapper{
        margin: 60px;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .greeting{
        padding: 50px;
        font-size: calc(12vh);
    }
    .aboutWrapper{
        margin: 80px;
    }
    .workwrapper{
        margin: 80px;
    }
    .contactwrapper{
        margin: 80px;
    }
}
 

/* // Large devices (desktops, 992px and up) */
@media (min-width: 971px) { 
    .greeting{
        padding: 50px;
        font-size: calc(15vh);
    }
    .img-thumbnail{
        height: 50vh;
    }
    .aboutWrapper{
        margin: 100px;
    }
    .workwrapper{
        margin: 100px;
    }
    .contactwrapper{
        margin: 100px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .greeting{
        padding: 50px;
        font-size: calc(25vh);
    }
    .aboutWrapper{
        margin: 200px;
    }
    .workwrapper{
        margin: 200px;
    }
    .contactwrapper{
        margin: 200px;
    }
}