
.jumbotron{
    height: calc(100vh);
    color: #404040;

    /* background-image: url("/images/pexels-samuel-walker-1980720.jpg"); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    /* background-color:  #404040; */
}
.aboutWrapper{
    height: calc(100vh);
    background-color: wheat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; 
    background-color:  white;
}

/* profile picture */
.img-thumbnail{
    border: none;
    border-radius: 10%;
    margin-top: 50%;
    margin-bottom: 50%;
}


.footer{
    padding: 15px;;
}
/* // Small devices (landscape phones, 300px and up) */
@media (min-width: 400px) {
    .greeting{
        padding: 50px;
        font-size: calc(10vh);
    }
    
    /* .aboutText{
        padding:50px 5px;
    } */
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .greeting{
        padding: 50px;
        font-size: calc(10vh);
    }
    /* .aboutText{
        padding:50px 5px;
    } */
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .greeting{
        padding: 50px;
        font-size: calc(12vh);
    }
    /* .aboutText{
        padding:100px 50px;
    } */
}
 

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .greeting{
        padding: 50px;
        font-size: calc(15vh);
    }
    .img-thumbnail{
        height: 50vh;
    }
    /* .aboutText{
        padding:100px 50px;
    } */
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .greeting{
        padding: 50px;
        font-size: calc(25vh);
    }

 /*    .img-thumbnail{
        height: 50vh;
    } */
    /* .aboutText{
        padding-right: 300px 50px;
    } */
}